body {
    background: #fff;
    margin: 0;
    padding: 0;
}

.header {
    height: 25px;
    padding: 4px 0 0 5px;
    background: rgb(125, 126, 125); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(125, 126, 125, 1)), color-stop(100%, rgba(14, 14, 14, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(125, 126, 125, 1) 0%, rgba(14, 14, 14, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#7d7e7d', endColorstr = '#0e0e0e', GradientType = 0); /* IE6-9 */

    color: #fff;
    position: fixed;
    left:0;
    top: 0;
    right: 0;

    font-family: "Courier New", sans-serif;

    text-shadow: 2px 2px 5px #ffffff;
    filter: dropshadow(color = #ffffff, offx = 2, offy = 2);
}

ul.user_menu {
    list-style-type: none;
    display:block;
    float:right;
    padding: 0 10px 0 0;
    margin:0;
}

ul.user_menu a {
    text-decoration: none;
    font-weight: 600;
    color: #343e52;
}

ul.user_menu a:hover {
    color: #0000BB;
}

ul.user_menu li {
    display: inline;
    margin: 0 10px;
}

.menu {
    width: 200px;
    float:left;
    display:block;
    overflow: hidden;
    height: auto;
    top:29px;
    bottom:0;
    left: 0;
    position:fixed;
    background: rgb(239,239,239); /* Old browsers */
    background: -moz-linear-gradient(left,  rgba(239,239,239,1) 0%, rgba(239,239,239,1) 97%, rgba(14,14,14,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(239,239,239,1)), color-stop(97%,rgba(239,239,239,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(239,239,239,1) 0%,rgba(239,239,239,1) 97%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(239,239,239,1) 0%,rgba(239,239,239,1) 97%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(239,239,239,1) 0%,rgba(239,239,239,1) 97%,rgba(14,14,14,1) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(239,239,239,1) 0%,rgba(239,239,239,1) 97%,rgba(14,14,14,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efefef', endColorstr='#0e0e0e',GradientType=1 ); /* IE6-9 */
}

.menu ul {
    padding: 10px 2px 0 0;
    margin: 0;
    list-style-type: none;
}

.menu a {
    display: block;
    width: 100%;
    text-align: center;
    margin: 10px 0;
    padding: 5px 0;
    text-decoration: none;
    font-weight: 600;
    color: #eee;

    background: rgb(125,126,125); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

    text-shadow: 2px 2px 2px #000000;
    filter: dropshadow(color=#000000, offx=2, offy=2);
}

.menu a:hover {

    color: #ffaf72;

    background: rgb(125,126,125); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(76,76,86,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(76,76,86,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(76,76,86,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(76,76,86,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(76,76,86,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(76,76,86,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#4c4c56',GradientType=0 ); /* IE6-9 */
}

.content {
    margin: 40px 10px 10px 210px;
}

p.warning {
    color: #f00;
}

.dashboard {
    text-align: center;
}